PORT=5000
MONGO_URI=mongodb://localhost:27017/gabriela_baskova
JWT_SECRET=your_very_strong_jwt_secret_here
GMAIL_USER=gabriela.baskova@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
CONTACT_EMAIL=gabriela.baskova@gmail.com
CLIENT_URL=http://localhost:3000
